################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/StudyProject/FileContentIndex/327551e0-1f7e-4b14-9cb3-49428e06b5fa.vsidx
